{% extends "base.html" %}

{% block head_title %}
    {{ repository.name }}
{% endblock %}

{% block extra_head %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <p> {% bootstrap_label "Name:" %} {{ repository.name }} </p>
                <p> {% bootstrap_label "URL:" %} <a href="{{ repository.url }}"> {{ repository.url }} </a> </p>
                <p> {% bootstrap_label "Analysis date:" %} {{ repository.analysis_date }} </p>
                <form class="form" action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ repository.url }}" name="url"/>
                    <input type="submit" value="Reanalyze this repository" class="btn btn-primary"/>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h3>Report:</h3>
                <h4>Total number of errors: {{ sum }}</h4>
                {% for file in files %}
                    <p><b>{{ file.path }}</b> ({{ file.errors_num }} errors)</p>
                    {{ file.statistics|linebreaks }}
                {% empty %}
                    <h3 class="text-center">No reports.</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
